{% extends 'Trending/base.html' %}
{% block title %}{{topic}}{% endblock %}

{% block body %}
{% load static %}
<section class="hero-wrap hero-wrap-2" style="background-image: url(data:image/png;base64,{{fig1|safe}}); background-position: 50% -7px;" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center fadeInUp ftco-animated">
            <h1 class="mb-3 bread">{{topic}}</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href={% url 'Trending:topics' %}>All Topics <i class="ion-ios-arrow-forward"></i></a></span> <span>{{topic}} <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
<br/><br/>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 py-5 order-md-last">
                 <div class="heading-section ftco-animate">
                    <span class="subheading">WordCloud</span>
                    <h2 class="mb-4">Words </h2>
                    <p>A word cloud (also known as tag cloud or text cloud) is a visual representation of word frequency and value. It is used to highlight how often a specific term or category appears in a source of data. The more times a keyword is present in a data set, the bigger and bolder the keyword appears.</p>
                    <p><a href="#" class="btn btn-primary py-3 px-4">Get a Quote</a></p>
              </div>
            </div>
            <div class="col-lg-8 services-wrap px-4 pt-5">
                <div class="row pt-md-3">
                    <img src="data:image/png;base64,{{fig2|safe}}" width="700" >style="border:2px solid black ;">
                </div>
            </div>
        </div>
    </div>
</section>
<br/><br/>

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'Trending/images/back2.jpg' %}); height: 560px; background-position: 50% 134.744px;" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true" style="height: 560px;">
            <div class="col-md-6 ftco-animate fadeInUp ftco-animated">
          	    <h2 class="subheading">Sentiment Analysis Result</h2>
              	<h1>Polarity for <br/>{{topic}} </h1>
                <p class="mb-4">Based on tweets</p>
                <p><a href="#" class="btn btn-primary mr-md-4 py-2 px-4">Learn more <span class="ion-ios-arrow-forward"></span></a></p>
              </div>
            <div class="col-md-6 ftco-animate fadeInUp ftco-animated">
                <img src="data:image/png;base64,{{fig3|safe}}">
            </div>
        </div>
      </div>
</div>
<br/><br/>


<div class="col-md-12 text-center heading-section ftco-animate fadeInUp ftco-animated">
        <span class="subheading">Tips &amp; Techniques</span>
        <h2 class="mb-4">Seasonal Lawn Care Tips</h2>
</div>
<div class="container" style="border:5px solid black">
        <div class="row">
        <div class="col-lg-6 py-5">
            <div class="heading-section ftco-animate">
	          	<span class="subheading">WordCloud</span>
	            <h2 class="mb-4">Words </h2>
	            <p>A word cloud (also known as tag cloud or text cloud) is a visual representation of word frequency and value. It is used to highlight how often a specific term or category appears in a source of data. The more times a keyword is present in a data set, the bigger and bolder the keyword appears.</p>
	            <p><a href="#" class="btn btn-primary py-3 px-4">Get a Quote</a></p>
	          </div>
        </div>
        <div class="col-lg-6 py-5">
            <img src="data:image/png;base64,{{fig4|safe}}" width="600">
        </div>
    </div>
</div>

<br/><br/>

<!--<img src="data:image/png;base64,{{fig3|safe}}"/>-->
<!--<img src="data:image/png;base64,{{fig3|safe}}" height="600" width="1200"/>-->
{% endblock %}
